* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
ul {
  padding: 0 !important;
}
.list-ralate-product::-webkit-scrollbar {
  width: 0;
}

/* Track */
.list-ralate-product::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Handle */
.list-ralate-product::-webkit-scrollbar-thumb {
  background: #ee4d2d;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}

/* Handle on hover */
.list-ralate-product::-webkit-scrollbar-thumb:hover {
  background: #ee4d2d;
}

/* body */
body::-webkit-scrollbar, .result-search::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track,
.result-search::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Handle */
body::-webkit-scrollbar-thumb,
.result-search::-webkit-scrollbar-thumb {
  background: #ee4d2d;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover,
.result-search::-webkit-scrollbar-thumb:hover {
  background: #ee4d2d;
}
@keyframes scrollToTop {
  from {
    bottom: 10px
  }
  to {
    bottom: 0;
  }
}
.scroll-to-top {
  color: #fff;
  background: #ee4d2d;
  animation: scrollToTop .75s linear infinite alternate-reverse;
  -webkit-animation: scrollToTop .75s linear infinite alternate-reverse;
}
.hidden {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.App {
  text-align: center;
}
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ee4d2d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
